[submodule "software/Montage"]
	path = software/Montage
	url = https://github.com/Caltech-IPAC/Montage
[submodule "software/pegasus"]
	path = software/pegasus
	url = https://github.com/pegasus-isi/pegasus.git
[submodule "software/montage-workflow-v3"]
	path = apps/montage_pegasus/software/montage-workflow-v3
	url = https://github.com/pegasus-isi/montage-workflow-v3.git
[submodule "software/1000genome-workflow"]
	path = software/1000genome-workflow
	url = https://github.com/pegasus-isi/1000genome-workflow.git
[submodule "software/dlio_benchmark"]
	path = software/dlio_benchmark
	url = https://github.com/argonne-lcf/dlio_benchmark.git
[submodule "software/scr"]
	path = software/scr
	url = https://github.com/LLNL/scr.git
