[submodule "apps/ewa/code"]
	path = apps/ewa/code
	url = https://github.com/eracah/hur-detect
[submodule "apps/fastpm/code"]
	path = apps/fastpm/code
	url = https://github.com/fastpm/fastpm
[submodule "apps/ocean/code"]
	path = apps/ocean/code
	url = https://github.com/CrayLabs/NCAR_ML_EKE
[submodule "apps/hep_cnn/hep"]
	path = apps/hep_cnn/hep
	url = https://github.com/NERSC/hep_cnn_benchmark
[submodule "apps/climate_dl/code"]
	path = apps/climate_dl/code
	url = https://github.com/azrael417/ClimDeepLearn
[submodule "apps/cosmoflow/code"]
	path = apps/cosmoflow/code
	url = https://github.com/sparticlesteve/cosmoflow-benchmark
[submodule "apps/hoomd/code"]
	path = apps/hoomd/code
	url = https://github.com/glotzerlab/hoomd-blue
[submodule "apps/ewa_tf/code"]
	path = apps/ewa_tf/code
	url = https://github.com/eracah/hur-detect.git
[submodule "benchmarks/aibench/code"]
	path = benchmarks/aibench/code
	url = https://github.com/BenchCouncil/AIBench_Training_Component
[submodule "apps/sannp/code"]
	path = apps/sannp/code
	url = https://gitlab.com/yufeng.huang/sannp
[submodule "apps/tomogan/code"]
	path = apps/tomogan/code
	url = https://github.com/lzhengchun/TomoGAN
